:root {
    /* Colors */
    --offwhite: #f5f5f5;
    --bubblegum: #fd4779;
    --bubblegum-hover: rgb(253, 71, 121, 0.92);
    --neonpurple: #9c21c3;
    --fuschia: #a82256;
    --burgundy: #a8256d;
    --dusty-rose: #c3486d;
    --lilac: #a273c0;
    --daphne-purple: #6550a0;
    --dark-eggplant: #0d0022;
    --nav-background: rgba(101, 80, 160, 0.15);
    --periwinkle: #839bf2;
    --success-green: #81EDB7;
    --error-red: #FD3E3C;
}