input, select, option, textarea {
    color: black;
    width: 5rem;
}

.contact-form-container {
    background-color: var(--nav-background);
    width: 100%;
    border-radius: 5rem;
}

.contact-me-form button {
    cursor: pointer;
    border: var(--periwinkle);
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 2.5rem;
    background-color: var(--bubblegum);
    width: 65%;
}

.contact-me-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 5rem;
}

label {
    font-size: 2rem;
    padding: 0.5rem;
}

.contact-me-form input, select, option {
    width: 70%;
    height: 3rem;
}

textarea {
    width: 90%;
    height: 15rem;
    margin-bottom: 0.5rem;
}