@import "fonts.css";
:root {
  /* Colors */
  --offwhite: #f5f5f5;
  --bubblegum: #fd4779;
  --bubblegum-hover: rgb(253, 71, 121, 0.92);
  --neonpurple: #9c21c3;
  --fuschia: #a82256;
  --burgundy: #a8256d;
  --dusty-rose: #c3486d;
  --lilac: #a273c0;
  --daphne-purple: #6550a0;
  --dark-eggplant: #0d0022;
  --nav-background: rgba(101, 80, 160, 0.15);
  --periwinkle: #839bf2;
  --success-green: #81EDB7;
  --error-red: #FD3E3C;
}

.punchline {
  display: flex;
  justify-content: center;
}

.cosplay-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0 5rem 0;
}
@media (max-width: 1100px) {
  .cosplay-features {
    grid-gap: 1.2rem;
    margin: 0 3rem 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .cosplay-features {
    grid-gap: 0.8rem;
    margin: 0 2rem 0;
  }
}
@media (max-width: 340px) {
  .cosplay-features {
    grid-gap: 0.4rem;
    margin: 0 1rem 0;
  }
}

.feature-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cosplay-page-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  height: 25rem;
  width: 25rem;
  top: 2.5rem;
  border-radius: 0.75rem;
}
@media (max-width: 1100px) {
  .cosplay-page-link {
    height: 15rem;
    width: 15rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .cosplay-page-link {
    height: 7.5rem;
    width: 7.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 340px) {
  .cosplay-page-link {
    height: 5rem;
    width: 5rem;
    font-size: 0.7rem;
  }
}

.cosplay-page-link:hover, .cosplay-page-link:focus {
  color: var(--dark-eggplant);
  background-color: var(--bubblegum-hover);
  transition: all 0.5s;
}

.cosplay-photo {
  width: 25rem;
  height: 25rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}
@media (max-width: 1100px) {
  .cosplay-photo {
    height: 15rem;
    width: 15rem;
  }
}
@media (max-width: 650px) {
  .cosplay-photo {
    height: 7.5rem;
    width: 7.5rem;
  }
}
@media (max-width: 340px) {
  .cosplay-photo {
    height: 5rem;
    width: 5rem;
  }
}

.cosplay-name {
  height: 3rem;
  margin-bottom: auto;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .cosplay-name {
    font-size: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 650px) {
  .cosplay-name {
    font-size: 0.6rem;
    height: 0.75rem;
  }
}

@media (max-width: 1100px) {
  .cosplay-fandom {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .cosplay-fandom {
    font-size: 0.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-bottom: -0.5rem;
}
@media (max-width: 650px) {
  h2 {
    font-size: 1rem;
    margin-bottom: -0.2rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  h3 {
    font-size: 0.6rem;
  }
}

.content {
  margin-left: 10rem;
  position: relative;
  top: 5rem;
}
@media (max-width: 1100px) {
  .content {
    margin-left: 6rem;
    top: 2.5rem;
  }
}
@media (max-width: 650px) {
  .content {
    margin-left: 4rem;
  }
}
@media (max-width: 400px) {
  .content {
    margin-left: 3rem;
  }
}

.cosplay-feature-name {
  padding: 0;
}

.cosplay-feature-fandom {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  margin-top: -1rem;
}
@media (max-width: 1100px) {
  .cosplay-feature-fandom {
    font-size: 1.2rem;
    margin-top: -0.6rem;
  }
}

.cosplay-feature-punchline {
  text-align: center;
}

.feature-photo-container {
  position: relative;
}

.cosplay-feature-photo {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.75rem;
  margin-left: 7.5rem;
  margin-top: 2.5rem;
  filter: drop-shadow(0 0 0.75rem var(--periwinkle));
  position: absolute;
  top: 4rem;
}
@media (max-width: 1100px) {
  .cosplay-feature-photo {
    width: 12rem;
    height: 12rem;
    margin-left: 4.5rem;
    margin-top: 1.5rem;
    top: 3rem;
  }
}
@media (max-width: 650px) {
  .cosplay-feature-photo {
    width: 8rem;
    height: 8rem;
    margin-left: 3rem;
    margin-top: 1rem;
    top: 2rem;
  }
}
@media (max-width: 400px) {
  .cosplay-feature-photo {
    width: 5rem;
    height: 5rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    top: 1rem;
  }
}

.cosplay-feature-wallpaper {
  width: 100rem;
  height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right top;
  object-position: right top;
  margin-right: 5rem;
  float: right;
  border-radius: 2.25rem;
  filter: drop-shadow(0 0 0.75rem var(--periwinkle));
  opacity: 0.5;
  position: relative;
}
@media (max-width: 1100px) {
  .cosplay-feature-wallpaper {
    width: 60rem;
    height: 15rem;
    margin-right: 3rem;
    border-radius: 1.35rem;
  }
}
@media (max-width: 650px) {
  .cosplay-feature-wallpaper {
    width: 40rem;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 1.125rem;
  }
}
@media (max-width: 400px) {
  .cosplay-feature-wallpaper {
    width: 20rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 0.6rem;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 650px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.photo-gallery img {
  width: 20rem;
  height: 20rem;
  padding-right: 0.5rem;
  padding-bottom: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-out 0.2s;
  pointer-events: none;
}
@media (max-width: 1100px) {
  .photo-gallery img {
    height: 12rem;
    width: 12rem;
  }
}
@media (max-width: 650px) {
  .photo-gallery img {
    height: 8rem;
    width: 8rem;
  }
}

li.text-ul-item {
  font-size: 1.5rem;
}
@media (max-width: 1100px) {
  li.text-ul-item {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  li.text-ul-item {
    font-size: 0.75rem;
  }
}
@media (max-width: 400px) {
  li.text-ul-item {
    font-size: 0.6rem;
  }
}

/* .photo-gallery img:hover {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  transition: all ease-in 0.2s;
} */

input, select, option, textarea {
  color: var(--dark-eggplant);
  font-size: 1.5rem;
  width: 5rem;
  border-radius: 0.75rem;
}

input, select, option {
  text-align: center;
}

.contact-form-container {
  background-color: var(--nav-background);
  width: 100%;
  border-radius: 5rem;
}

.contact-me-form button {
  cursor: pointer;
  border: var(--periwinkle);
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 2.5rem;
  background-color: var(--fuschia);
  width: 65%;
}

.contact-me-form button:focus, button:hover {
  background-color: var(--bubblegum);
  color: var(--dark-eggplant);
  transition: all 0.5s;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.form-input {
  position: relative;
}

.form-input.success input {
  border: 0.5rem var(--success-green);
}

.form-input.error input {
  border: 0.5rem var(--error-red);
}

.form-submission-message {
  color: var(--success-green);
  display: none;
}

.error-message {
  color: var(--error-red);
  visibility: hidden;
}

.form-input.error span {
  visibility: visible;
}

.error-message:last-of-type {
  margin-bottom: 0.5rem;
  color: var(--success-green);
}

label {
  font-size: 2rem;
  padding: 0.5rem;
}

.contact-me-form input, select, option {
  width: 70%;
  height: 3rem;
}

textarea {
  width: 90%;
  height: 15rem;
  margin-bottom: 0.5rem;
}

* {
  font-family: "Beaufort", "DM Sans", "Gill Sans", sans-serif;
  color: var(--offwhite);
}

body {
  background-color: var(--dark-eggplant);
  position: relative;
}

section {
  margin-bottom: 6rem;
}

strong {
  font-weight: 700;
  margin-right: 4px;
}

a:hover, a:focus {
  color: var(--bubblegum);
  transition: ease-in 0.15s;
}

nav, footer {
  background-color: var(--nav-background);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

h1 {
  font-family: "Yipes", "Mitogen Display", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 650px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: "Mitogen Display", "DM Sans", sans-serif;
  font-size: 2rem;
}
@media (max-width: 1100px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  h2 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1.5rem;
}
@media (max-width: 1100px) {
  p {
    font-size: 0.9rem;
  }
}
@media (max-width: 650px) {
  p {
    font-size: 0.6rem;
    line-height: 1.1rem;
  }
}

.homepage-gallery {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1100px) {
  .homepage-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 340px) {
  .homepage-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homepage-gallery img {
  width: 20rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1100px) {
  .homepage-gallery img {
    width: 16rem;
    height: 24rem;
  }
}
@media (max-width: 650px) {
  .homepage-gallery img {
    width: 8rem;
    height: 12rem;
  }
}

.upcoming-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upcoming-events h2 {
  font-size: 3rem;
}
@media (max-width: 1100px) {
  .upcoming-events h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 650px) {
  .upcoming-events h2 {
    font-size: 1.2rem;
  }
}

.upcoming-events h3 {
  font-size: 2rem;
}
@media (max-width: 1100px) {
  .upcoming-events h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 650px) {
  .upcoming-events h3 {
    font-size: 0.8rem;
  }
}

.upcoming-events ul {
  list-style: none;
  font-size: 1.5rem;
  margin-top: 0;
}

.punchline {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#branding-logo {
  width: 10rem;
  margin-left: 1rem;
  margin-right: auto;
  z-index: 5;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  #branding-logo {
    width: 7.5rem;
    margin-right: 3rem;
  }
}
@media (max-width: 650px) {
  #branding-logo {
    width: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 400px) {
  #branding-logo {
    width: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 300px) {
  #branding-logo {
    width: 1rem;
    margin-right: 1rem;
  }
}

.navbar-item, .navbar-item a {
  font-family: "Yipes", "Mitogen Display", sans-serif;
  font-size: 2.25rem;
  list-style: none;
  margin-right: 2rem;
}
@media (max-width: 1100px) {
  .navbar-item, .navbar-item a {
    font-size: 1.65rem;
    margin-right: 1.5rem;
  }
}
@media (max-width: 650px) {
  .navbar-item, .navbar-item a {
    font-size: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 340px) {
  .navbar-item, .navbar-item a {
    font-size: 0.75rem;
    margin-right: 0.75rem;
  }
}

.branding-name {
  font-family: "Mitogen Display", sans-serif;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: auto;
}
@media (max-width: 1100px) {
  .branding-name {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .branding-name {
    font-size: 1.25rem;
  }
}
@media (max-width: 400px) {
  .branding-name {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
}

.fa-instagram {
  margin-right: 10px;
  font-size: 2.5rem;
}
@media (max-width: 1100px) {
  .fa-instagram {
    font-size: 2rem;
    margin-right: 5px;
  }
}
@media (max-width: 700px) {
  .fa-instagram {
    font-size: 1rem;
    margin-right: 2.5px;
  }
}
@media (max-width: 560px) {
  .fa-instagram {
    font-size: 0.75rem;
    margin-right: 0.75px;
  }
}
@media (max-width: 340px) {
  .fa-instagram {
    font-size: 0.5rem;
    margin-right: 0.5px;
  }
}

.footer-item {
  font-family: "Yipes", "Mitogen Display", sans-serif;
  font-size: 3rem;
  margin-right: 3rem;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .footer-item {
    font-size: 1.65rem;
    margin-right: 1.5rem;
  }
}
@media (max-width: 700px) {
  .footer-item {
    font-size: 1.35rem;
    margin-right: 1rem;
  }
}
@media (max-width: 560px) {
  .footer-item {
    font-size: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media (max-width: 340px) {
  .footer-item {
    font-size: 0.5rem;
    margin-right: 0.25rem;
  }
}

li.text-ul-item {
  font-size: 2rem;
  margin-right: 2rem;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  li.text-ul-item {
    font-size: 1.35rem;
  }
}
@media (max-width: 650px) {
  li.text-ul-item {
    font-size: 1rem;
  }
}

li.text-ul-item:not(:last-child) {
  margin-bottom: 8px;
}/*# sourceMappingURL=style.css.map */