@import "fonts.css";
@import "colors.scss";
@import "cosplays.scss";
@import "cosplay-feature-page.scss";

* {
    font-family: "Beaufort", "DM Sans", "Gill Sans", sans-serif;
    color: var(--offwhite);
}

body {
    background-color: var(--dark-eggplant);
    position: relative;
}

section {
    margin-bottom: 6rem;
}

strong {
    font-weight: 700;
    margin-right: 4px;
}

a:hover, a:focus {
    color: var(--bubblegum);
    transition: ease-in 0.15s;
}

nav, footer {
    background-color: var(--nav-background);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1.5rem;
}

h1 {
    font-family: "Yipes", "Mitogen Display", sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: "Mitogen Display", "DM Sans", sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.homepage-gallery {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
  
    @media(max-width:1100px) {
        grid-template-columns: repeat(3, 1fr);
    }
  } 
  
  .homepage-gallery img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
  
    @media(max-width: 1100px) {
        width: 16rem;
        height: 24rem;
    }
  
    @media(max-width: 650px) {
        width: 8rem;
        height: 12rem;
    }
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upcoming-events h2 {
    font-size: 3rem;

    @media(max-width: 1100px) {
        font-size: 1.8rem;
    }
  
    @media(max-width: 650px) {
        font-size: 1.2rem;
    }
  }
  
  .upcoming-events h3 {
    font-size: 2rem;

    @media(max-width: 1100px) {
        font-size: 1.2rem;
    }
  
    @media(max-width: 650px) {
        font-size: 0.8rem;
    }
  }
  
  .upcoming-events ul {
    list-style: none;
    font-size: 1.5rem;
    margin-top: 0;
  }  

.punchline {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#branding-logo {
    width: 10rem;
    margin-left: 1rem;
    margin-right: auto;
    z-index: 5;
    border-radius: 50%;

    @media (max-width: 1100px) {
        width: 7.5rem;
    }

    @media (max-width: 650px) {
        width: 5rem;
    }
}

.navbar-item, .navbar-item a {
    font-family: 'Yipes', 'Mitogen Display', sans-serif;
    font-size: 2.25rem;
    list-style: none;
    margin-right: 2rem;
}

.branding-name {
    font-family: 'Mitogen Display', sans-serif;
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: auto;
}

.fa-instagram {
    margin-right: 10px;
    font-size: 2.5rem;
}

.footer-item {
    font-family: "Yipes", "Mitogen Display", sans-serif;
    font-size: 3rem;
    margin-right: 3rem;
}

li.text-ul-item {
    font-size: 2rem;
    margin-right: 2rem;

    @media(max-width: 1100px) {
        font-size: 1.5rem;
    }
  
    @media(max-width: 650px) {
        font-size: 1rem;
    }
}

li.text-ul-item:not(:last-child) {
    margin-bottom: 8px;
}