@import "fonts.css";
@import "colors.css";

* {
    font-family: "Beaufort", "DM Sans", sans-serif;
    color: var(--offwhite);
}

body {
    background-color: var(--dark-eggplant);
}

strong {
    font-weight: 700;
    text-decoration: underline;
    margin-right: 4px;
}

nav, footer {
    background-color: rgba(101, 80, 160, 0.15);
}

h1 {
    font-family: "Yipes", "Mitogen Display", sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: "Mitogen Display", "DM Sans", sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.navbar {
    display: flex;
}

.navbar-item {
    font-size: 2rem;
    list-style: none;
}

.branding-name {
    font-family: 'Mitogen Display', sans-serif;
    font-size: 2.75rem;
    margin-right: 4rem;
}

.footer-item {
    font-family: "Yipes", "Mitogen Display", sans-serif;
    font-size: 2.25rem;
}

li.text-ul-item:not(:last-child) {
    margin-bottom: 8px;
}